
@keyframes color-change {
    0%{
        color: rgb(250, 13, 13);
    }
    10%{
        color: rgb(11, 251, 11);
    }
    30%{
        color: rgb(10, 238, 250);
    }
    60%{
        color: rgb(250, 11, 178);
    }
    70%{
        color: rgb(9, 243, 169);
    }
    80%{
        color: rgb(234, 238, 9);
    }
    100%{
        color: rgb(39, 11, 250);
    }
}
@keyframes box-shape {
    0%{
        transform: rotate(0deg);  
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotate-infinite {
    
    0%{
        transform: rotate(0deg);

    }
    100%{transform: rotate(360deg);
    
    }
}