$font-primmary: 'Poppins', sans-serif;
$theme-color: (
    "primary":#34fc07,
    "primary-hover":rgb(25, 211, 56),
    "dark":rgb(128, 109, 0),
    "text_color":white,

);
$color-btn: #ef7515;
$color-nav: #7b7508;
$color-inside: rgba(57, 57, 57, 0.049);