$font-primmary: 'Poppins', sans-serif;
$theme-color: (
    "primary":#fc0707,
    "primary-hover":rgb(189, 211, 25),
    "dark":rgb(128, 109, 0),
    "text_color":white,

);
$color-btn: #ef1515;
$color-nav: #7b1008;
$color-inside: rgba(57, 57, 57, 0.049);